body {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}

.container {
	max-width: 100%;
	height: 97px;
	background-color: #f19e0e;
	display: flex;
	align-items: center;
}

.logo {
	margin-left: 130px;
}

.container-2 {
	width: 934px;
	height: 897px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.judul {
	margin-top: 200px;
	width: 800px;
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.keterangan {
	color: #000;
	text-align: center;
	font-family: Montserrat;
	width: 550px;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 15px;
}

.my-button {
	background-color: #f19e0e; /* Warna latar belakang button */
	weight: 261px;
	height: 40px;
	color: #fff; /* Warna teks button */
	font-size: 16px; /* Ukuran teks pada button */
	border: none; /* Menghilangkan border pada button */
	border-radius: 5px; /* Membuat sudut button sedikit melengkung */
	margin-top: 20px; /* Jarak antara keterangan dan button */
	display: flex;
	padding: 10px 24px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.supergrafis {
	margin-top: 190px;
}

.ajakan {
	color: #000;
	width: 679px;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-left: 200px;
	margin-bottom: 40px;
	margin-top: 90px;
}
.testi {
	width: 300px;
}
.deskripsi {
	color: #6b6b6b;
	width: 450px;
	text-align: justify;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	gap: 20px;
}

.container-3 {
	max-width: 100%;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	height: 800px;
	background-color: #e8e8e8;
	display: grid;
	margin: auto;
	flex-shrink: 0;
	padding-top: 20px;
	padding-left: 60px;
	justify-content: center;
	align-items: center;
}

.grid-item-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.ooef {
	padding-top: 90px;
	padding-bottom: 50px;
	margin: auto;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	background-color: #ffffff;
	padding: 10px;
	margin-left: 200px;
	gap: 30px;
	margin-right: 160px;
}

.grid-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

.container-5 {
	width: 934px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	margin: auto;
	flex-direction: column;
}

.container-6 {
	width: 934px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	margin: auto;
	flex-direction: column;
}

.sub-judul {
	margin-top: 240px;
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 45px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 800px;
}

.grid-container-2 {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	background-color: #ffffff;
	padding-top: 120px;
	margin-left: 180px;
	gap: 30px;
	align-items: center;
}

.X {
	margin-left: 125px;
}

.V {
	margin-left: 125px;
}

.abu-kiri {
	margin-left: 13px;
}

.container-7 {
	width: 934px;
	height: 400px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-top: 280px;
	gap: 50px;
}

.ajakan-daftar {
	color: #000;
	width: 605px;
	text-align: center;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.hubungi-kami {
	display: inline-flex;
	padding: 18px 48px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);
	color: #277080;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.hubungi-kami:hover {
	background-color: #277080;
	color: #ffffff;
	cursor: pointer;
}

/* Media Query untuk perangkat seluler */
@media (max-width: 768px) {
	.container {
        width: 100%; /* Lebar maksimum untuk perangkat seluler */
        /* padding: 10px; Padding yang lebih kecil untuk perangkat seluler */
    }
    .container-2 {
        width: 100%; /* Lebar maksimum untuk perangkat seluler */
        /* padding: 10px; Padding yang lebih kecil untuk perangkat seluler */
		gap: 20px;
		height: 400px;
    }

    .judul {
        width: 80%; /* Lebar maksimum untuk perangkat seluler */
        font-size: 23px; /* Ukuran font yang lebih sesuai untuk perangkat seluler */
        margin-top: 50px; /* Mengurangi margin untuk perangkat seluler */
    }

    .keterangan {
        width: 80%; /* Lebar maksimum untuk perangkat seluler */
        font-size: 18px; /* Ukuran font yang lebih sesuai untuk perangkat seluler */
        margin-top: 20px; /* Mengurangi margin untuk perangkat seluler */
    }

    .my-button {
        /* width: 100%; Lebar maksimum untuk perangkat seluler */
        font-size: 12px; /* Ukuran font yang lebih sesuai untuk perangkat seluler */
        margin-top: 20px;
    }

    .supergrafis {
		width: 80%;
        margin-top: 20px; /* Mengurangi margin untuk perangkat seluler */
    }

	.container-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr)); /* Satu kolom untuk perangkat seluler */
		height: 900px;
		/* width: 100%; */
    }

	.gambar-iklan {
		width: 90%;
		margin-left: -50px;
	}

	.gambar-orang {
		width: 30%;
		margin-left: -220px;
		margin-top: -50px;
	}

	.testi {
		width: 80%;
		font-size: 20px;
		margin-left: -70px;
	}

	/* .deskripsi {
		width: 80%;
		font-size: 20px; /* Ukuran font yang lebih sesuai untuk perangkat seluler */
        /* padding: 5px; */
	/* } */ 

    .grid-item-3 {
        margin-top: 20px; /* Mengurangi margin untuk perangkat seluler */
    }

	.ajakan {
        width: 80%; /* Lebar maksimum untuk perangkat seluler */
        font-size: 24px; /* Ukuran font yang lebih sesuai untuk perangkat seluler */
        margin-left: 10px; /* Mengurangi margin untuk perangkat seluler */
        margin-bottom: 20px; /* Mengurangi margin untuk perangkat seluler */
        margin-top: 40px; /* Mengurangi margin untuk perangkat seluler */
    }

    .deskripsi {
        width: 100%; /* Lebar maksimum untuk perangkat seluler */
        font-size: 18px; /* Ukuran font yang lebih sesuai untuk perangkat seluler */
        gap: 10px;
        text-align: left; /* Pusatkan teks untuk perangkat seluler */
		margin-top: 10px;
    }

    .ooef {
        padding-top: 40px; /* Padding yang lebih kecil untuk perangkat seluler */
        padding-bottom: 20px; /* Padding yang lebih kecil untuk perangkat seluler */
    }

    .grid-container {
        grid-template-columns: repeat(1, minmax(0, 1fr)); /* Satu kolom untuk perangkat seluler */
        margin-left: 10px; /* Mengurangi margin untuk perangkat seluler */
        margin-right: 10px; /* Mengurangi margin untuk perangkat seluler */
		width: 80%;
    }

    .grid-item {
        margin-left: 1px; /* Mengurangi margin untuk perangkat seluler */
        margin-right: 1px; /* Mengurangi margin untuk perangkat seluler */
    }

    .container-5,
    .container-6 {
        width: 100%; /* Lebar maksimum untuk perangkat seluler */
    }

    .sub-judul {
        width: 100%; /* Lebar maksimum untuk perangkat seluler */
        font-size: 26px; /* Ukuran font yang lebih sesuai untuk perangkat seluler */
        margin-top: 100px; /* Mengurangi margin untuk perangkat seluler */
    }

    .grid-container-2 {
        /* grid-template-columns: repeat(1, minmax(0, 1fr)); Satu kolom untuk perangkat seluler */
        margin-left: 10px; /* Mengurangi margin untuk perangkat seluler */
        margin-right: 10px; /* Mengurangi margin untuk perangkat seluler */
    }

    .X,
    .V {
		width: 20%; /* Lebar maksimum untuk perangkat seluler */
        margin-left: 40px; /* Mengurangi margin untuk perangkat seluler */
        margin-right: 10px; /* Mengurangi margin untuk perangkat seluler */
    }

    .abu-kiri {
		width: 100%; /* Lebar maksimum untuk perangkat seluler */
	}

    .container-7 {
        width: 100%; /* Lebar maksimum untuk perangkat seluler */
        height: auto; /* Tinggi otomatis untuk perangkat seluler */
        margin-top: 20px; /* Mengurangi margin untuk perangkat seluler */
    }

    .ajakan-daftar {
        width: 80%; /* Lebar maksimum untuk perangkat seluler */
        font-size: 28px; /* Ukuran font yang lebih sesuai untuk perangkat seluler */
        margin-top: 10px; /* Mengurangi margin untuk perangkat seluler */
    }

	.kuning-atas {
		width: 100%;
	}
}
